.env*
node_modules/
package-lock.json
frontend/package-lock.json
.env_backup
frontend/build/
infra/.terraform.lock.hcl
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
-tree -r --name-only aws-arch
migration-analysis/__pycache__/
migration-analysis/equivalences/__pycache__/